*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#container{
    background-color: #0f0e17;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#container-numeri{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 500px;
    background-color: #e53170;
    border: 3px solid #ff8906;
    font-size: 60px;
}

#contatore{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #e53170;
    border: 3px solid #ff8906;
    border-radius: 50%;
    font-size: 50px;
    margin: 0 10px;
}

h2{
    color: white;
}

i{
    animation: ex 3s linear infinite;
}

@keyframes ex {
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
