*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    background-color: #0f0e17;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#container-numeri{
    height: 100px;
    width: 400px;
    background-color: #e53170;
    border: 3px solid #ff8906;
    font-size: 60px;
}